<h1>Список вопросов анкеты</h1>

<table class="questions">
  <tr>
    <th><Title></Title></th>
    <th>Enabled</th>
    <th>Deleted</th>
    <th>Order</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= question.title %></td>
    <td><%= question.enabled %></td>
    <td><%= question.deleted %></td>
    <td><%= question.order %></td>
    <td><%= question.date %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
