<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% provide(:title, "Start page") %>
<h3>Вопросница</h3>
<table class="table table-bordered table-hover table-condensed table-striped" >
  <% @questions.each do |question| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')  %>">
    <td id="column1">
      <span class="badge badge-info">Вопрос № <%= question.order %></span>
      <p><%= question.title %></p>
    </td>
    <td id="column2">
      <table class="table table-bordered table-hover table-condensed table-striped">
        <% question.answers.each do |answer| %>
        <tr>
          <td>
            <%= render answer %>
            <!--     <li><a href=<%= editor_path(question_id: question)%><i class="icon-pencil"></i> Редактировать</a></li>   -->
          </td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
        <h3><%= question.enabled %></h3>
    </td>
    <td>
<!--     <a class="btn btn-mini btn-primary" href=<%= new_answer_path(question_id: question)%>><i class="icon-edit"></i></a> -->
<!--     <a class="btn btn-mini btn-primary" href=<%= editor_path(question_id: question)%>><i class="icon-edit icon-white"></i></a> -->
      <% if current_user.admin %>
        <a class="btn btn-primary btn-mini" href=<%= editor_path(question_id: question)%>><i class="icon-edit icon-white"></i></a>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
